/*
BASE COLORS
header_red    : #D64D53;
header_darkred: #9B4F53;
header_brown  : #493D3D;
header_beige  : #B2A76E;
header_yellow : #F7DA8E;
*/

@font-face {
	font-family: 'Slim Joe';
	src: url('../media/Slim Joe.otf');
}

@font-face {
	font-family: 'Big John';
	src: url('../media/BIG JOHN.otf');
}

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Arial, sans-serif;
}

header {
	height: 300px;
	text-align: center;
	color: white;
}

header.main-page {
	background: #d64d63; /* Old browsers */
	background: -moz-linear-gradient(top, #d64d63 98%, #99373a 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(98%,#d64d63), color-stop(98%,#99373a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d64d63 98%,#99373a 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d64d63 98%,#99373a 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d64d63 98%,#99373a 98%); /* IE10+ */
	background: linear-gradient(to bottom, #d64d63 98%,#99373a 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64d63', endColorstr='#99373a',GradientType=0 ); /* IE6-9 */
}

header.poe {
	background: #b2a76e; /* Old browsers */
	background: -moz-linear-gradient(top, #b2a76e 98%, #7f774f 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(98%,#b2a76e), color-stop(98%,#7f774f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2a76e 98%,#7f774f 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2a76e 98%,#7f774f 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b2a76e 98%,#7f774f 98%); /* IE10+ */
	background: linear-gradient(to bottom, #b2a76e 98%,#7f774f 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2a76e', endColorstr='#7f774f',GradientType=0 ); /* IE6-9 */
}

header h1 {
	margin-top: 0;
	padding-top: 110px;
	font-family: 'Big John';
}

header h3 {
	font-family: 'Slim Joe';
}
