<md-bottom-sheet class="list has-header filter-list">
	<div class="close-button" ng-click="closeFilterList()">
		&times;
	</div>
	<div class="category">
		<md-subheader>Games</md-subheader>
		<md-list>
			<md-item ng-repeat="item in games">
				<md-checkbox ng-model="item.ticked" aria-label="{{item.name}}">
				{{ item.name }}
				</md-checkbox>
			</md-item>
		</md-list>
	</div>
	<div class="category">
		<md-subheader>Rarities</md-subheader>
		<md-list>
			<md-item ng-repeat="item in rarities">
				<md-checkbox ng-model="item.ticked" aria-label="{{item.name}}">
					{{ item.name }}
				</md-checkbox>
			</md-item>
		</md-list>
	</div>
	<div class="category">
		<md-subheader>Item Types</md-subheader>
		<md-list>
			<md-item ng-repeat="item in itemType">
				<md-checkbox ng-model="item.ticked" aria-label="{{item.name}}">
					{{ item.name }}
				</md-checkbox>
			</md-item>
		</md-list>
	</div>
	<div class="category">
		<md-subheader>Sort by...</md-subheader>
			<md-list>
				<md-radio-group>
					<md-item>
						<md-radio-button value="Rarity" aria-label="Rarity">Rarity</md-radio-button>
					</md-item>
					<md-item>
						<md-radio-button value="Game" aria-label="Game">Game</md-radio-button>
					</md-item>
					<md-item>
						<md-radio-button value="Name" aria-label="Name">Name</md-radio-button>
					</md-item>
			</md-radio-group>
		</md-list>
	</div>
</md-bottom-sheet>

