
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="aiderapide" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>AppliMed</title>


	<link rel="stylesheet" href="stylesheets/app.css" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet' type='text/css'>



</head>
<body ng-controller="aideRapideController">
	<nav class="top-bar" data-topbar>
		<div class="large-3 columns site-logo">Appli<span class="site-logo-highlight">M</span>ed</div>
		<section class="top-bar-section">
			<a href="index.html"><div class="large-3 columns site-nav-link site-nav-link-selected">INR</div></a>
			<a href="historique.html"><div class="large-3 columns site-nav-link">Fiches Patients</div></a>
			<div class="large-3 columns login">
				<a href="#" data-dropdown="drop-login"><i class="fa fa-cog"></i></a>
			</div>
			<ul id="drop-login" class="f-dropdown" data-dropdown-content>
				<li><input type="text" placeholder="Utilisateur"></li>
				<li><input type="text" placeholder="Mot de passe"></li>
				<li><div class="button">Connexion</div></li>
			</ul>
		</section>
	</nav>

	<div class="row collapse main-content">
		<div class="large-12 columns">
			<div class="row collapse inr-input">
				<div class="large-11 columns">
					<input type="text" placeholder="Votre INR">
				</div>
				<div class="large-1 columns">
					<a href="#" class="button postfix">Verifier</a>
				</div>
			</div>
			<div class="row inr-settings">
				<div class="large-3 columns med-type">
					<select id="med-type">
						<option value="1">Previscan</option>
						<option value="2">Coumadine</option>
					</select>
				</div>
				<div class="large-2 columns treatment-stage">
					<select id="treatment-stage">
						<option value="1">Initiation</option>
						<option value="2">Entretien</option>
					</select>
				</div>
				<div class="large-2 columns phase">
					<select id="phase">
						<option value="1">1: J0 J1 J2</option>
						<option value="2">2: J3</option>
					</select>
				</div>
				<div class="large-2 columns patient-cat">
					<select id="patient-cat">
						<option value="1">>75 ans, >45kgs</option>
						<option value="2"><75 ans, <45kgs </option>
					</select>
				</div>
				<div class="large-2 columns patient-cat">
					<input type="checkbox">Hémorragie ?
				</div>
			</div>
			<div class="row inr-result">
				<div class="large-12 columns">
					<h2>[Resultat de l'INR]</h2>
				</div>
			</div>

			<div class="row interactions">
				<div class="large-12 columns">
					<a href="#" id="medicaments-toggler"><h5><i class="fa fa-chevron-down"></i> Afficher les interactions medicamenteuses</h5></a>
					<div id="medicaments-inter">
						<input placeholder="Recherche..." type="text" ng-model="searchBarInteractions">
						<table >
							<tr><th class="inter-mednom">Nom</th><th class="inter-medchange">Changement</th><th class="inter-mednote">Notes</th></tr>
							<tr ng-repeat="inter in interactions | filter:searchBarInteractions">
								<td>{{inter.name}}</td>
								<td><i class="fa fa-long-arrow-{{inter.inr}}"></i></td>
								<td>{{inter.desc}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.js"></script>
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/foundation/js/foundation.min.js"></script>
	<script src="bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
	<script src="js/interactions.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
